## Exercice Matrice et recherche

Soit le tableau de valeurs numériques suivant. En utilisant la variable data ci-après construisez le DataFrame correspondant, respectez les noms des étiquettes (lignes et colonnes).

```text
 A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
b  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
f  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
j  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51
```

In [32]:
import pandas as pd
import numpy as np

data = np.array([ 
    [13,  54,  23,  23,  62,  29,  53,  15,  54 , 67],
    [13,  54,  23,  23,  62,  29,  53,  15,  54,  67],
    [98,  36,  34,  40,  13,  92,  41,  61 , 94,  62],
    [33,  87,  46,  44,  82,  87,  11,  76,  76,  21],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [15 , 87,  20,  50,  53,  48,  39,  38,  91,  32],
    [93,  48,  28,  27,  50 , 55 , 28 , 38  ,78 , 85],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [38,  98,  55,  61,  75,  82 , 37,  64,  87,  83],
    [24,  53,  16,  84,  82,  13,  18,  18,  82,  51],
])

letters = list('abcdefghijkl')

df = pd.DataFrame({
    letters[0].capitalize(): data.T[0],
    letters[1].capitalize(): data.T[1],
    letters[2].capitalize(): data.T[2],
    letters[3].capitalize(): data.T[3],
    letters[4].capitalize(): data.T[4],
    letters[5].capitalize(): data.T[5],
    letters[6].capitalize(): data.T[6],
    letters[7].capitalize(): data.T[7],
    letters[8].capitalize(): data.T[8],
    letters[9].capitalize(): data.T[9],
},
    index=letters
)

df

    A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
b  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
f  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
j  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51

1. Recherchez toutes les lignes identiques dans le DataFrame et supprimez les. Vous pouvez utiliser la méthode **duplicated** sur le DataFrame.

In [33]:
df = df.drop_duplicates()

df

    A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51

2. Comptez les occurences de chaque valeur dans le DataFrame. Placez le résultat de ce comptage dans un dictionnaire voir ci-dessous la variable stat pour vérifier votre recherche.

*Indications : vous pouvez parcourir le DataFrame avec la méthode A.iterrows(), sur les étiquettes valeurs. Pensez à utiliser également les méthodes : count et sum.*

In [58]:
df.loc[df['A'] == 93, 'A'].count()

1


3. Faites la somme des nombres pairs de chaque ligne.


```python
stat ={13: 5, 54: 2, 23: 2, 62: 2, 29: 1, 53: 3, 15: 2, 
67: 1, 98: 2, 36: 1, 34: 1, 40: 1, 92: 1, 41: 1, 
61: 2, 94: 1, 33: 1, 87: 4, 46: 1, 44: 3, 82: 4, 
11: 1, 76: 3, 21: 1, 56: 1, 16: 2, 91: 2, 64: 2, 
77: 1, 27: 2, 20: 1, 50: 2, 48: 2, 39: 1, 38: 3, 
32: 1, 93: 1, 28: 2, 55: 2, 78: 1, 85: 1, 58: 1, 
26: 1, 89: 1, 88: 1, 71: 1, 97: 1, 80: 1, 42: 1, 
52: 1, 75: 1, 37: 1, 83: 1, 24: 1, 84: 1, 18: 2, 
51: 1}
```